<h1>Sales Input</h1>


<div class="modal-header model-grey-color">
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close" ng-click="cancelModal()">
		<span aria-hidden="true">×</span>
	</button>
	<h4 class="modal-title">Edit View : {{employeeData.Name}}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-3 control-label">Transaction Date <sup
				class="sup-color">*</sup></label>

			<div class="col-sm-8">
				<input type="text" ng-model="cashDetails.transactionDate"
					placeholder="Employee Name" class="form-control">
			</div>
			<span class="help-button" uib-tooltip="Employee name"
				tooltip-placement="left">?</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Account <sup
				class="sup-color">*</sup></label>

			<div class="col-sm-8">
				<input type="text" ng-model="cashDetails.account"
					placeholder="Employee Name" class="form-control">
			</div>
			<span class="help-button" uib-tooltip="Employee name"
				tooltip-placement="left">?</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Currency <sup
				class="sup-color">*</sup></label>

			<div class="col-sm-8">
				<input type="text" ng-model="cashDetails.currency"
					placeholder="Employee Age" class="form-control">
			</div>
			<span class="help-button" uib-tooltip="Please enter emp age"
				tooltip-placement="left">?</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Amount <sup
				class="sup-color">*</sup></label>

			<div class="col-sm-8">
				<input type="text" ng-model="cashDetails.amount"
					placeholder="Amount" class="form-control" >
			</div>
			<span class="help-button" uib-tooltip="Please enter emp age"
				tooltip-placement="left">?</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Input By <sup
				class="sup-color">*</sup></label>

			<div class="col-sm-8">
				<input type="text" ng-model="cashDetails.inputBy"
					placeholder="Employee Salary" class="form-control" readonly>
			</div>
			<span class="help-button" uib-tooltip="Input creator"
				tooltip-placement="left">?</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Verified By <sup
				class="sup-color">*</sup></label>

			<div class="col-sm-8">
				<input type="text" ng-model="cashDetails.verifiedBy"
					placeholder="Employee Salary" class="form-control" readonly>
			</div>
			<span class="help-button" uib-tooltip="Please enter emp salary"
				tooltip-placement="left">?</span>
		</div>
	</form>
</div>
<div class="modal-footer model-grey-color">
	<button class="btn btn-success" ng-click="update()">
		<i class="glyphicon glyphicon-floppy-save"></i> Update
	</button>
	<button class="btn btn-danger" ng-click="cancelModal()">
		<i class="glyphicon glyphicon-remove"></i> Close
	</button>
</div>
