<div class="container">
	<h1>{{data.greeting}}</h1>
	<div ng-show="loading"><h3>Loading...</h3></div>
	<table st-table="display_records"  st-safe-src="employees" class="table table-striped">
	<thead>
		<tr>
			<th ng-repeat="colheader in newemployees.headers">{{colheader | uppercase}}</th>
			<th>Profile</th>
			<th width="100px">Name</th>
			<th st-sort="salary">Salary</th>
			<th>Age</th>
			<th>Date of Birth</th>
			<th>Sales</th>
			<th>Action</th>
		</tr>
		<tr>
			<th colspan="5">
				<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in newemployees.dataTable.table">
			<td><img class="img-thumbnail img-responsive" alt="image" src="img/user.jpg" style="width: 50px; height: 50px;"/></td>
			<td>{{row['Name'].value}}</td>
			<td>{{row['Salary'].value | currency}}</td>
			<td>{{row['Age'].value}}</td>
			<td>{{row['Dob'].value}}</td>
			<td>{{row['Sales'].value}}</td>
			<td>
				<a type="button" class="btn btn-sm btn-info">
					<i class="glyphicon glyphicon-eye-open">
					</i>
				</a>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{newemployees.dataTable.columnTotals['Sales'].value}}</td>
		</tr>
	</tfoot>
</table>
</div>
